/* DOODLES PAGE STYLES */

html {
    background-color: gray;
    background-image: url("graphics/branding & logos/background1,000x4,000px.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
}

.maindivs {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.sectionlinebreaks {
        border: 0px;
        padding: 0px;
        margin: 50px;
    }

/* MENU TABS */

#menutabs {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 101vw;
}

    .buttonrows {
        padding: 0px;
        border: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-evenly;
    }

    #topbuttonrow {
            padding: 0px;
            border: 0px;
            margin: 0px;
            z-index: 3;
            position: relative;
        }

        .topmenubuttons {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -55px;
            margin-left: -1px;
            margin-right: -1px;
            width: 300px;
            text-align: center;
            padding-bottom: 7px;
            background-color: rgb(77, 77, 77);
            text-decoration-line: none;
            color: white;
            font-size: x-large;
            border-bottom-style: solid;
            border-bottom-width: 20px;
            border-bottom-color: rgb(77, 77, 77);
        }

        #toprowshaper {
            background-color: rgb(77, 77, 77);
            z-index: 3;
            position: relative;
            height: 30px;
        }

    #betweenlayersshaper {
        padding: 0px;
        border: 0px;
        margin: 0px;
        z-index: 2;
        position: relative;
        height: 80px;
        margin-top: -70px;
        display: flex;
        justify-content: space-evenly;
    }

        #shaperleft {
            padding: 0px;
            border: 0px;
            margin: 0px;
            height: 80px;
            width: 100px;
            float: left;
        }

        #shapermiddle {
            padding: 0px;
            border: 0px;
            margin: 0px;
            background-color: rgb(51, 51, 51);
            height: 80px;
            width: 1350px;
        }

        #shaperright {
            padding: 0px;
            border: 0px;
            margin: 0px;
            height: 80px;
            width: 100px;
            float: right;
        }

    #bottombuttonrow {
        padding: 0px;
        border: 0px;
        margin: 0px;
        margin-left: -4px;
        margin-right: -4px;
        margin-top: -65px;
        z-index: 1;
        position: relative;
    }

        .bottommenubuttons {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -24px;
            margin-left: -1px;
            margin-right: -1px;
            width: 300px;
            text-align: center;
            padding-bottom: 7px;
            background-color: rgb(51, 51, 51);
            text-decoration-line: none;
            color: white;
            font-size: x-large;
            border-bottom-style: solid;
            border-bottom-width: 20px;
            border-bottom-color: rgb(51, 51, 51);
        }

        #bottomrowshaper {
            height: 80px;
            margin-top: -50px;
            margin-left: 125px;
            margin-right: 125px;


        }

        .bottomrowspacers {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -20px;
            width: 130px;
            text-align: center;
            background-color: transparent;
        }

/* TITLE */

#construction {
    padding: 20px;
    border: 0px;
    margin: 0px;
    color: white;
    background-color: black;
    border-top: 7px;
    border-bottom: 7px;
    border-style: solid;
    border-color: yellow;
    width: 90vw;
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* #pagetitle {

} */

    #titleinfo {
        color: white;
    }

/* JUMP BUTTONS */

#jumpbuttonarea {
    padding: 0px;
    border: 0px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .jumpbuttons {
        padding: 10px;
        border: 4px;
        margin: 0px;
        text-decoration: none;
        color: black;
        background-color: white;
        border-color: black;
        border-style: groove;
        border-radius: 5%;
        margin-left: 10px;
        margin-right: 10px;
    }

/* LATEST BEANS */

#latestbeansarea {
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    #latestbeans {
        padding: 0px;
        border: 0px;
        margin: 0px;
        background-image: url("graphics/artwork/frameplaceholder1280x720px.png");
        background-repeat: none;
        background-size: contain;
        width: 640px;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        #latestbeansimage {
            padding: 70px;
            border: 0px;
            margin: 0px;
        }

        #beanswatchbutarea {
            padding: 0px;
            border: 0px;
            margin: 0px;
            margin-top: -60px;
            margin-bottom: 60px;
        }

            .beanswatchbuttons {
                padding: 2px;
                border: 4px;
                margin: 0px;
                color: black;
                background-color: white;
                border-color: black;
                border-style: groove;
                text-decoration: none;
            }

/* MY SKETCHBOOK */

/* #sketchbookarea {

} */

    #sketchbooktitle {
        padding: 0px;
        border: 0px;
        margin: 20px;
        color: white;
        text-decoration: underline;
    }

    #sketchbook {
        padding: 0px;
        border: 0px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90vw;
        height: 70vh;
        overflow-x: scroll;
    }

        #sketchbookimages {
            padding: 0px;
            border: 8px;
            margin: 0px;
            height: 400px;
            width: 400px;
        }

        .sketchbookcaptions {
            padding: 20px;
            border: 8px;
            margin: 0px;
            background-color: antiquewhite;
            margin-right: 40px;
            border-style: dashed;
            border-color: gray;
            border-left: 0px;
            border-top: 0px;
            border-bottom: 0px;
        }

/* DIGITAL DOODLE GALLERY */

#digdoodletitle {
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-decoration: underline;
    color: white;
}

#digdoodlegallery {
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .diggallerysections {
        padding: 0px;
        border: 0px;
        margin: 20px;
    }
        .diggalleryimages {
            padding: 0px;
            border: 0px;
            margin: 0px;
        }

        .diggallerycaps {
            padding: 0px;
            border: 0px;
            margin: 0px;
            color: white;
        }

/* ANIMS AND ANIMATICS */

#animstitlearea {
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-image: url("graphics/artwork/animreel800x100px.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

    #animstitle {
        padding: 50px;
        border: 0px;
        margin: 30px;
        color: antiquewhite;
        background-color: black;
    }

#animsarea {
    padding: 0px;
    border: 10px;
    margin: 0px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: black;
    border-style: groove;
    margin-top: 20px;
}

    #animsscroller {
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 20vw;
        height: 70vh;
        overflow-y: scroll;
    }

        .anims {
            padding: 0px;
            border: 0px;
            margin: 0px;
            background-color: black;
            color: white;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 4px;
            border-style: solid;
            border-color: gray;
        }

            .animsinfos {
                padding: 0px;
                border: 0px;
                margin: 0px;
                font-weight: bold;
            }

            .animsplaybuttons {
                padding: 0px;
                border: 4px;
                margin: 0px;
                color: black;
                background-color: white;
                border-color: black;
                border-style: groove;
            }

        #animsplayer {
        padding: 0px;
        border: 0px;
        margin: 0px;
        width: 70vw;
    }

        #playerplaceholder {
            width: 70vw;
        }

    #animsyoutubebutton {
        padding: 3px;
        border: 4px;
        margin: 0px;
        color: black;
        background-color: white;
        border-color: black;
        border-style: groove;
    }

/* COMICS */

#comictitlearea {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

    #comictitle {
    padding: 0px;
    border: 0px;
    margin: 0px;
    color: white;
    text-decoration: underline;
}

    #comictitleinfo {
    padding: 0px;
    border: 0px;
    margin: 0px;
    color: white;
    margin-top: 15px;
}

#uppercomicarea {
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

    #comicjumpbutarea {
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: flex;
    width: 40vw;
    flex-wrap: wrap;
}

    .comicjumpbuttons {
        padding: 4px;
        border: 4px;
        margin: 30px;
        color: antiquewhite;
        background-color: black;
        border-style: groove;
        border-color: black;
    }

    #latestcomic {
    padding: 0px;
    border: 0px;
    margin: 30px;
    width: 40vw;
}
    #latestcomicimage {
    padding: 4px;
    border: 0px;
    margin: 0px;
    width: 300px;
}
    
    #latestcomicinfo {
    padding: 4px;
    border: 0px;
    margin: 0px;
    color: white;
}

#lowercomicarea {
    padding: 0px;
    border: 0px;
    margin: 0px;
    margin-top: 70px;
}

    #comicsgallery {
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .comicssections {
        padding: 0px;
        border: 0px;
        margin: 20px;
    }
        .comicsimages {
            padding: 0px;
            border: 0px;
            margin: 0px;
        }

        .comicscaps {
            padding: 0px;
            border: 0px;
            margin: 0px;
            color: white;
        }

/* BEANS */

#beansarea {
    padding: 50px;
    border: 10px;
    margin: 0px;
    color: white;
    background-color: black;
    border-color: yellow;
    border-style: solid;
}

/* FOOTER */

#footer {
    padding: 0px;
    border: 0px;
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    border-top: 5px;
    border-top-style: dotted;
    border-top-color: white;
}

    .footertext {
        color: gray;
    }

    .footertitles {
        text-decoration-line: underline;
    }

    #backtotop {
        padding: 0px;
        border: 0px;
        margin: 0px;
        text-align: center;
        margin-bottom: 2%;
    }

    #footertop {
        padding: 2%;
        border: 0px;
        margin: 0px;
        text-align: center;
        margin-bottom: 2%;
        border: 5px;
        border-style: solid;
        border-color: gray;
    }

        #backtotopbutton {
            text-decoration-line: none;
            color: black;
            outline-color: gray;
            background-color: gray;
            padding: 5px;
        }

    #footermiddle {
        padding: 0px;
        border: 0px;
        margin: 0px;
        margin-bottom: 2%;
        display: flex;
        
    }

        #footermidleft {
            padding: 2%;
            border: 0px;
            margin: 0px;
            float: left;
            text-align: center;
            border: 5px;
            border-style: solid;
            border-color: gray;
            border-right: 2px;
            border-right-style: solid;
            border-right-color: gray;
        }

        #footermidright {
            padding: 2%;
            border: 0px;
            margin: 0px;
            float: right;
            text-align: center;
            border: 5px;
            border-style: solid;
            border-color: gray;
            border-left: 2px;
            border-left-style: solid;
            border-left-color: gray;
        }
        
    #footerbottom {
        padding: 2%;
        border: 0px;
        margin: 0px;
        text-align: center;
        border: 5px;
        border-style: solid;
        border-color: gray;
    }
