/* JAMS PAGE STYLES */

html {
    background-color: gray;
    background-image: url("graphics/branding & logos/background1,000x4,000px.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
}

.maindivs {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.sectionlinebreaks {
        border: 0px;
        padding: 0px;
        margin: 50px;
    }

/* MENU TABS */

#menutabs {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 101vw;
}

    .buttonrows {
        padding: 0px;
        border: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-evenly;
    }

    #topbuttonrow {
            padding: 0px;
            border: 0px;
            margin: 0px;
            z-index: 3;
            position: relative;
        }

        .topmenubuttons {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -55px;
            margin-left: -1px;
            margin-right: -1px;
            width: 300px;
            text-align: center;
            padding-bottom: 7px;
            background-color: rgb(77, 77, 77);
            text-decoration-line: none;
            color: white;
            font-size: x-large;
            border-bottom-style: solid;
            border-bottom-width: 20px;
            border-bottom-color: rgb(77, 77, 77);
        }

        #toprowshaper {
            background-color: rgb(77, 77, 77);
            z-index: 3;
            position: relative;
            height: 30px;
        }

    #betweenlayersshaper {
        padding: 0px;
        border: 0px;
        margin: 0px;
        z-index: 2;
        position: relative;
        height: 80px;
        margin-top: -70px;
        display: flex;
        justify-content: space-evenly;
    }

        #shaperleft {
            padding: 0px;
            border: 0px;
            margin: 0px;
            height: 80px;
            width: 100px;
            float: left;
        }

        #shapermiddle {
            padding: 0px;
            border: 0px;
            margin: 0px;
            background-color: rgb(51, 51, 51);
            height: 80px;
            width: 1350px;
        }

        #shaperright {
            padding: 0px;
            border: 0px;
            margin: 0px;
            height: 80px;
            width: 100px;
            float: right;
        }

    #bottombuttonrow {
        padding: 0px;
        border: 0px;
        margin: 0px;
        margin-left: -4px;
        margin-right: -4px;
        margin-top: -65px;
        z-index: 1;
        position: relative;
    }

        .bottommenubuttons {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -24px;
            margin-left: -1px;
            margin-right: -1px;
            width: 300px;
            text-align: center;
            padding-bottom: 7px;
            background-color: rgb(51, 51, 51);
            text-decoration-line: none;
            color: white;
            font-size: x-large;
            border-bottom-style: solid;
            border-bottom-width: 20px;
            border-bottom-color: rgb(51, 51, 51);
        }

        #bottomrowshaper {
            height: 80px;
            margin-top: -50px;
            margin-left: 125px;
            margin-right: 125px;


        }

        .bottomrowspacers {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -20px;
            width: 130px;
            text-align: center;
            background-color: transparent;
        }

/* PAGE TITLE */

#jamspagetitle {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

/* ARTWORK, INTRO, INSTRUCTIONS */

#artandintrorow {
    padding: 0px;
    border: 0px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    #leftart {
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

    #intro {
        padding: 0px;
        border: 0px;
        margin: 10px;
        color: white;
        font-size: large;
        width: 75vw;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    #rightart {
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

#instructions {
    padding: 0px;
    border: 0px;
    margin: 10px;
    border-top: 5px;
    border-top-style: dashed;
    border-top-color: white;
    padding-top: 15px;
}

    #instructparagraph {
        padding: 0px;
        border: 0px;
        margin: 0px;
        color: white;
        font-size: x-large;
    }

/* MP3 PLAYER AND BUTTONS */

#mp3andbuttons {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

    #mp3playerarea {
        padding: 0px;
        border: 0px;
        margin: 0px;
        background-color: gray;
        width: 100vw;
        display: flex;
        justify-content: center;
        border-top: 10px;
        border-bottom: 10px;
        border-color: black;
        border-style: ridge;
        padding-top: 50px;
        padding-bottom: 50px;
    }

        #mp3player {
            padding: 40px;
            border: 8px;
            margin: 0px;
            background-color: sienna;
            border-color: brown;
            border-style: solid;
            width: 25vw;
            border-radius: 15%;
        }

            #audioscroller {
                padding: 0px;
                border: 4px;
                margin: 0px;
                background-color: white;
                overflow-y: scroll;
                height: 300px;
                border-radius: 15%;
                margin-bottom: 30px;
                border-color: brown;
                border-style: solid;
            }

                .mp3songs {
                    padding: 10px;
                    border: 0px;
                    margin: 0px;
                    background-color: white;
                    border-bottom: 4px;
                    border-style: solid;
                    border-color: black;
                }

        #playlistbuttons {
            padding: 0px;
            border: 0px;
            margin: 0px;
            display: flex;
            justify-content: space-between;
        }

            .listbuttons {
                padding: 10px;
                border: 4px;
                margin: 0px;
                color: white;
                background-color: gray;
                border-radius: 100%;
                border-color: brown;
                border-style: solid;
                text-decoration: none;
                display: flex;
                justify-content: center;
                font-weight: bolder;
            }

                #leftbutton {

                }

                #topbutton {
                    
                }

                #rightbutton {
                    
                }

            #ytbuttonarea {
                padding: 10px;
                border: 0px;
                margin: 0px;
                display: flex;
                justify-content: center;
            }

                #bottombutton {

                }


/* CD CASE */

#cdcasetitle {
    padding: 0px;
    border: 0px;
    margin: 20px;
    color: white;
    border-bottom: 5px;
    border-color: white;
    border-style: dashed;
    padding-bottom: 10px;  
    text-align: center;      
    }

#cdcase {
    
}

        .cdleft {
            padding: 0px;
            border: 0px;
            margin: 0px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            margin-left: 100px;
            margin-bottom: -50px;
        }

        .cdright {
            padding: 0px;
            border: 0px;
            margin: 0px;
            display: flex;
            flex-direction: row;
            justify-content: right;
            margin-right: 100px;
            margin-bottom: -50px;
        }

            .cdart {
                padding: 0px;
                border: 4px;
                margin: 0px;
                height: 250px;
                border-radius: 100%;
                border-color: white;
                border-style: solid;
                position: relative;
                z-index: 2;
            }

            .cdinfoleft {
                padding: 0px;
                border: 4px;
                margin: 0px;
                background-color: gray;
                border-color: white;
                border-style: dashed;
                border-radius: 15%;
                height: 150px;
                width: 425px;
                padding-left: 100px;
                padding-right: 25px;
                margin-left: -80px;
                margin-top: 50px;
            }

            .cdinforight {
                padding: 0px;
                border: 4px;
                margin: 0px;
                background-color: gray;
                border-color: white;
                border-style: dashed;
                border-radius: 15%;
                height: 150px;
                width: 425px;
                padding-right: 100px;
                padding-left: 25px;
                margin-right: -80px;
                margin-top: 50px;
            }

/* FOOTER */

#footer {
    padding: 0px;
    border: 0px;
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    border-top: 5px;
    border-top-style: dotted;
    border-top-color: white;
}

    .footertext {
        color: gray;
    }

    .footertitles {
        text-decoration-line: underline;
    }

    #backtotop {
        padding: 0px;
        border: 0px;
        margin: 0px;
        text-align: center;
        margin-bottom: 2%;
    }

    #footertop {
        padding: 2%;
        border: 0px;
        margin: 0px;
        text-align: center;
        margin-bottom: 2%;
        border: 5px;
        border-style: solid;
        border-color: gray;
    }

        #backtotopbutton {
            text-decoration-line: none;
            color: black;
            outline-color: gray;
            background-color: gray;
            padding: 5px;
        }

    #footermiddle {
        padding: 0px;
        border: 0px;
        margin: 0px;
        margin-bottom: 2%;
        display: flex;
        
    }

        #footermidleft {
            padding: 2%;
            border: 0px;
            margin: 0px;
            float: left;
            text-align: center;
            border: 5px;
            border-style: solid;
            border-color: gray;
            border-right: 2px;
            border-right-style: solid;
            border-right-color: gray;
        }

        #footermidright {
            padding: 2%;
            border: 0px;
            margin: 0px;
            float: right;
            text-align: center;
            border: 5px;
            border-style: solid;
            border-color: gray;
            border-left: 2px;
            border-left-style: solid;
            border-left-color: gray;
        }
        
    #footerbottom {
        padding: 2%;
        border: 0px;
        margin: 0px;
        text-align: center;
        border: 5px;
        border-style: solid;
        border-color: gray;
    }
