/* SMAT THOUGHT BUBBLES PAGE STYLES */

html {
    background-color: gray;
    background-image: url("graphics/branding & logos/background1,000x4,000px.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
}

.maindivs {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.sectionlinebreaks {
        border: 0px;
        padding: 0px;
        margin: 50px;
    }

/* MENU TABS */

#menutabs {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 101vw;
}

    .buttonrows {
        padding: 0px;
        border: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-evenly;
    }

    #topbuttonrow {
            padding: 0px;
            border: 0px;
            margin: 0px;
            z-index: 3;
            position: relative;
        }

        .topmenubuttons {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -55px;
            margin-left: -1px;
            margin-right: -1px;
            width: 300px;
            text-align: center;
            padding-bottom: 7px;
            background-color: rgb(77, 77, 77);
            text-decoration-line: none;
            color: white;
            font-size: x-large;
            border-bottom-style: solid;
            border-bottom-width: 20px;
            border-bottom-color: rgb(77, 77, 77);
        }

        #toprowshaper {
            background-color: rgb(77, 77, 77);
            z-index: 3;
            position: relative;
            height: 30px;
        }

    #betweenlayersshaper {
        padding: 0px;
        border: 0px;
        margin: 0px;
        z-index: 2;
        position: relative;
        height: 80px;
        margin-top: -70px;
        display: flex;
        justify-content: space-evenly;
    }

        #shaperleft {
            padding: 0px;
            border: 0px;
            margin: 0px;
            height: 80px;
            width: 100px;
            float: left;
        }

        #shapermiddle {
            padding: 0px;
            border: 0px;
            margin: 0px;
            background-color: rgb(51, 51, 51);
            height: 80px;
            width: 1350px;
        }

        #shaperright {
            padding: 0px;
            border: 0px;
            margin: 0px;
            height: 80px;
            width: 100px;
            float: right;
        }

    #bottombuttonrow {
        padding: 0px;
        border: 0px;
        margin: 0px;
        margin-left: -4px;
        margin-right: -4px;
        margin-top: -65px;
        z-index: 1;
        position: relative;
    }

        .bottommenubuttons {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -24px;
            margin-left: -1px;
            margin-right: -1px;
            width: 300px;
            text-align: center;
            padding-bottom: 7px;
            background-color: rgb(51, 51, 51);
            text-decoration-line: none;
            color: white;
            font-size: x-large;
            border-bottom-style: solid;
            border-bottom-width: 20px;
            border-bottom-color: rgb(51, 51, 51);
        }

        #bottomrowshaper {
            height: 80px;
            margin-top: -50px;
            margin-left: 125px;
            margin-right: 125px;


        }

        .bottomrowspacers {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -20px;
            width: 130px;
            text-align: center;
            background-color: transparent;
        }

/* PAGE TITLE */

#pagetitle {
    border: 0px;
    padding: 0px;
    margin: 50px;
    margin-top: 100px;
}

#introduction {
    border: 0px;
    padding: 0px;
    margin: 20px;
    margin-right: 120px;
    margin-left: 120px;
    color: white;
    text-align: center;
    font-size: x-large;
}

/* RECENT THOUGHT BUBBLES */

#recentthoughtbubbles {
    margin-top: 10px;
}

    #recentthoughtbubtitle {
        margin-bottom: -6%;
    }

    #thoughtbubblegroup {
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

        #bubblerow1 {
            display: flex;
            padding: 0px;
            border: 0px;
            margin: 0px;
            justify-content: space-between;
            width: 100%;
            margin-bottom: -12%;
        }

            #bubblepost1 {
                background-image: url('graphics/artwork/thoughtbubble400x250px2.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 400px;
                height: 250px;
                text-align: center;
                overflow: auto;
                margin-left: -2%;
                color: black;
            }

            #bubblepost2 {
                background-image: url('graphics/artwork/thoughtbubble400x250px.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 400px;
                height: 250px;
                text-align: center;
                overflow: auto;
                justify-self: right;
                margin-bottom: -5%;
                margin-right: -5%;
                color: black;
            }

        #bubblerow2 {
            display: flex;
            padding: 0px;
            border: 0px;
            margin: 0px;
            justify-content: center;
            width: 100%;
        }

            #bubblepost3 {
                background-image: url('graphics/artwork/thoughtbubble300x150px.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 300px;
                height: 150px;
                text-align: center;
                overflow: auto;
                color: black;
            }

            #bubblepost4 {
                background-image: url('graphics/artwork/thoughtbubble150x100px.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 150px;
                height: 100px;
                text-align: center;
                overflow: auto;
                margin-top: 11%;
                color: black;
            }

        #bubblerow3 {
            display: flex;
            padding: 0px;
            border: 0px;
            margin: 0px;
            justify-content: space-around;
            width: 100%;
        }

            #bubblepost5 {
                background-image: url('graphics/artwork/thoughtbubble400x250px.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 400px;
                height: 250px;
                text-align: center;
                overflow: auto;
                margin-left: -10%;
                margin-top: -3%;
                color: black;
            }
            
            #bubblepost6 {
                background-image: url('graphics/artwork/thoughtbubble300x150px.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 300px;
                height: 150px;
                text-align: center;
                overflow: auto;
                margin-top: 6%;
                color: black;
            }

            #bubblepost7 {
                background-image: url('graphics/artwork/thoughtbubble400x250px2.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 400px;
                height: 250px;
                text-align: center;
                overflow: auto;
                margin-right: -8%;
                margin-top: -2%;
                color: black;
            }

                    .thoughtbubbles {
                    margin: 0px;
                    border: 0px;
                    padding: 0px;
                }

/* LARGE SCROLLER AND SIDE BUTTONS FOR TOPIC JUMPERS */

#allthoughtbubs {
    background-color: pink;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

    #allbubtitle {
        background-color: green;
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

        #allbubsbelow {
            background-color: lightblue;
            padding: 0px;
            border: 0px;
            margin: 0px;
            color: white;
        }

    #scroller {
        background-color: turquoise;            padding: 0px;
        border: 5px;
        margin: 0px;
        border-color: white;
        border-style: solid;
        width: 60vw;
        height: 600px;
        overflow-y: auto;
        text-align: center;
        justify-self: center;

        }

            #scrollablepostlist {
                background-color: crimson;
                padding: 0px;
                border: 0px;
                margin: 0px;
            }

                .allposts {
                    padding: 10px;
                    border: 0px;
                    margin: 0px;
                    min-height: 100px;
                    max-height: max-content;
                    border-bottom: 3px;
                    border-style: solid;
                    border-color: blueviolet;
                }

    #topicbuttons {
        background-color: gray; 
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

/* TOPIC SPECIFIC SCROLLERS */

/* FOOTER */

#footer {
    padding: 0px;
    border: 0px;
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    border-top: 5px;
    border-top-style: dotted;
    border-top-color: white;
}

    .footertext {
        color: gray;
    }

    .footertitles {
        text-decoration-line: underline;
    }

    #backtotop {
        padding: 0px;
        border: 0px;
        margin: 0px;
        text-align: center;
        margin-bottom: 2%;
    }

    #footertop {
        padding: 2%;
        border: 0px;
        margin: 0px;
        text-align: center;
        margin-bottom: 2%;
        border: 5px;
        border-style: solid;
        border-color: gray;
    }

        #backtotopbutton {
            text-decoration-line: none;
            color: black;
            outline-color: gray;
            background-color: gray;
            padding: 5px;
        }

    #footermiddle {
        padding: 0px;
        border: 0px;
        margin: 0px;
        margin-bottom: 2%;
        display: flex;
        
    }

        #footermidleft {
            padding: 2%;
            border: 0px;
            margin: 0px;
            float: left;
            text-align: center;
            border: 5px;
            border-style: solid;
            border-color: gray;
            border-right: 2px;
            border-right-style: solid;
            border-right-color: gray;
        }

        #footermidright {
            padding: 2%;
            border: 0px;
            margin: 0px;
            float: right;
            text-align: center;
            border: 5px;
            border-style: solid;
            border-color: gray;
            border-left: 2px;
            border-left-style: solid;
            border-left-color: gray;
        }
        
    #footerbottom {
        padding: 2%;
        border: 0px;
        margin: 0px;
        text-align: center;
        border: 5px;
        border-style: solid;
        border-color: gray;
    }
