/* WRITTEN STORIES PAGE STYLES */

html {
    background-color: gray;
    background-image: url("graphics/branding & logos/background1,000x4,000px.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
}

.maindivs {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.sectionlinebreaks {
        border: 0px;
        padding: 0px;
        margin: 50px;
    }

/* MENU TABS */

#menutabs {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 101vw;
}

    .buttonrows {
        padding: 0px;
        border: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-evenly;
    }

    #topbuttonrow {
            padding: 0px;
            border: 0px;
            margin: 0px;
            z-index: 3;
            position: relative;
        }

        .topmenubuttons {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -55px;
            margin-left: -1px;
            margin-right: -1px;
            width: 300px;
            text-align: center;
            padding-bottom: 7px;
            background-color: rgb(77, 77, 77);
            text-decoration-line: none;
            color: white;
            font-size: x-large;
            border-bottom-style: solid;
            border-bottom-width: 20px;
            border-bottom-color: rgb(77, 77, 77);
        }

        #toprowshaper {
            background-color: rgb(77, 77, 77);
            z-index: 3;
            position: relative;
            height: 30px;
        }

    #betweenlayersshaper {
        padding: 0px;
        border: 0px;
        margin: 0px;
        z-index: 2;
        position: relative;
        height: 80px;
        margin-top: -70px;
        display: flex;
        justify-content: space-evenly;
    }

        #shaperleft {
            padding: 0px;
            border: 0px;
            margin: 0px;
            height: 80px;
            width: 100px;
            float: left;
        }

        #shapermiddle {
            padding: 0px;
            border: 0px;
            margin: 0px;
            background-color: rgb(51, 51, 51);
            height: 80px;
            width: 1350px;
        }

        #shaperright {
            padding: 0px;
            border: 0px;
            margin: 0px;
            height: 80px;
            width: 100px;
            float: right;
        }

    #bottombuttonrow {
        padding: 0px;
        border: 0px;
        margin: 0px;
        margin-left: -4px;
        margin-right: -4px;
        margin-top: -65px;
        z-index: 1;
        position: relative;
    }

        .bottommenubuttons {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -24px;
            margin-left: -1px;
            margin-right: -1px;
            width: 300px;
            text-align: center;
            padding-bottom: 7px;
            background-color: rgb(51, 51, 51);
            text-decoration-line: none;
            color: white;
            font-size: x-large;
            border-bottom-style: solid;
            border-bottom-width: 20px;
            border-bottom-color: rgb(51, 51, 51);
        }

        #bottomrowshaper {
            height: 80px;
            margin-top: -50px;
            margin-left: 125px;
            margin-right: 125px;


        }

        .bottomrowspacers {
            padding: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 100%;
            margin-top: -20px;
            width: 130px;
            text-align: center;
            background-color: transparent;
        }

/* PAGE TITLE */

#pagetitlearea {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

    #writtenstoriestitle {
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

/* JUMP BUTTONS */

#jumpbuttonsarea {
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

    .jumpbuttons {
        padding: 10px;
        border: 5px;
        margin: 0px;
        background-color: gray;
        color: black;
        font-size: large;
        border-style: groove;
        border-radius: 15%;
        border-color: black;
        text-decoration: none;
    }

/* INTRO AND ARTWORK */

#introandartarea {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

    #introparagraph {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        font-size: x-large;
        font-weight: bolder;
        color: white;
    }

    #writingartwork {
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

/* STORY SCROLLER WITH JUMP TABS */

#storyscrollertitle {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-size: xx-large;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: underline;
}

#storyscrollerarea {
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: purple;
    display: flex;
    justify-content: center;

}

    #storyscroller {
        padding: 0px;
        border: 10px;
        margin: 25px;
        background-color: white;
        width: 50vw;
        border-color: black;
        border-style: groove;
        margin-left: 0px;
        margin-right: 0px;
    }

        .storysection {
            padding: 15px;
            border: 0px;
            margin: 0px;
            background-color: gray;
            border-bottom:5px;
            border-color: black;
            border-style: solid;
            margin-bottom: 20px;
            height: 70vh;
            overflow-y: scroll;
        }

            h3 {
                padding: 0px;
                border: 0px;
                margin: 0px;
                text-decoration: underline;
                margin-bottom: 4px;
            }

            h4 {
                padding: 0px;
                border: 0px;
                margin: 0px;
            }

    .scrollerbuttonsections {
        padding: 10px;
        border: 0px;
        margin: 0px;
        background-color: green;
        width: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

        #leftscrollerbuttons {
            padding: 5px;
            border: 0px;
            margin: 0px;
            background-color: orange;
            margin-right: 0px;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        #rightscrollerbuttons {
            padding: 5px;
            border: 0px;
            margin: 0px;
            background-color: lightseagreen;
            margin-left: 0px;
            margin-top: 25px;
            margin-bottom: 25px;
        }

            .leftscrollbutton {
                padding: 0px;
                border: 0px;
                margin: 0px;
                background-color: yellow;
                font-size: x-large;
                font-weight: bold;
            }

            .rightscrollbutton {
                padding: 0px;
                border: 0px;
                margin: 0px;
                background-color: pink;
                font-size: x-large;
                font-weight: bold;
            }

/* BOOKSHELVES */

/* FOOTER */

#footer {
    padding: 0px;
    border: 0px;
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    border-top: 5px;
    border-top-style: dotted;
    border-top-color: white;
}

    .footertext {
        color: gray;
    }

    .footertitles {
        text-decoration-line: underline;
    }

    #backtotop {
        padding: 0px;
        border: 0px;
        margin: 0px;
        text-align: center;
        margin-bottom: 2%;
    }

    #footertop {
        padding: 2%;
        border: 0px;
        margin: 0px;
        text-align: center;
        margin-bottom: 2%;
        border: 5px;
        border-style: solid;
        border-color: gray;
    }

        #backtotopbutton {
            text-decoration-line: none;
            color: black;
            outline-color: gray;
            background-color: gray;
            padding: 5px;
        }

    #footermiddle {
        padding: 0px;
        border: 0px;
        margin: 0px;
        margin-bottom: 2%;
        display: flex;
        
    }

        #footermidleft {
            padding: 2%;
            border: 0px;
            margin: 0px;
            float: left;
            text-align: center;
            border: 5px;
            border-style: solid;
            border-color: gray;
            border-right: 2px;
            border-right-style: solid;
            border-right-color: gray;
        }

        #footermidright {
            padding: 2%;
            border: 0px;
            margin: 0px;
            float: right;
            text-align: center;
            border: 5px;
            border-style: solid;
            border-color: gray;
            border-left: 2px;
            border-left-style: solid;
            border-left-color: gray;
        }
        
    #footerbottom {
        padding: 2%;
        border: 0px;
        margin: 0px;
        text-align: center;
        border: 5px;
        border-style: solid;
        border-color: gray;
    }
